* {
    background-color: #F5DF99;
}


div {
    width: 600px;
    height: 500px;
    margin: auto;
    background-color: #EB4747;
    border-radius: 20px;
}

h1 {
    font-size: 150px;
    text-align: center;
    color: #069A8E;
    background-color: #FF4949;
    border-radius: 20px;

}

button {
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    color : white;
}

#Inc {
    background-color: green;
    margin-left: 35px;
}

#Dec {
    background-color: red;
    margin-left: 180px;
    

}
#Res {
    background-color: yellow;
    margin-top : 30px;
    margin-left: 225px;
}